<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <servlet-name>redis</servlet-name>
    <servlet-class>
      com.osal.web.RedisServlet
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>redis</servlet-name>
    <url-pattern></url-pattern>
  </servlet-mapping>
</web-app>
